body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
span{
  font-weight: bold;
  padding-right: 50px;
}
.links{
  padding: 7px 13px;
}
.content-table{
  border-collapse: collapse;
  margin-top:100px;
  margin-left:150px;
  margin-bottom: 100px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}
.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}
.carouselpart{
  background: #ABBBAC;
  height: 100px;
}
/*Map */
.legend{
    color: black;
    width: 500px;
    font-family: arial;
    font-size: 14px;
}
.legend_color {
    display: table;
    width: 100%;
    background: white;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.legend_color li{
    width: 20%;
    height: 20px;
    display: table-cell;
}
.legend_label {
    display: table;
    width: 100%;
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
    list-style: none;
    margin: 0px;
    box-sizing: border-box;
}
.legend_label li{
    width: 25%;
    height: 20px;
    display: table-cell;
    text-align: center;
}


/* 3d chart */

.rectangle {
  height: 620px;
  width: 235px;
  background-color: white;
  position: relative;
  top: -1120px;
}