<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helpful Links</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
    <style>
        body{
            background-color: #117865;
            font-family: 'Montserrat', sans-serif;
            overflow-x: hidden;
            width: 50%;
        }
        h1{
            padding-top: 50px;
            text-align: center;
        }
        a{
            color: black;
        }
        .content{
            position: relative;
            right: -400px;
        }
    </style>
</head>
<body>
    <div class="content">
    <h1>Helpful Links</h1>
    
    <h3>Find COVID-19 global corona virus cases count in different countries in real time and other important information here:</h3>
    <a href="https://www.worldometers.info/coronavirus/">https://www.worldometers.info/coronavirus/</a>
    
    <h3>World Health Organization (WHO) provides updated information on COVID-19 regularly:</h3>
    <a href=https://www.who.int/emergencies/diseases/novel-coronavirus-2019">https://www.who.int/emergencies/diseases/novel-coronavirus-2019</a>

    <h3>Government of India updates on COVID-19:</h3>
    <a href=" https://www.mohfw.gov.in/"> https://www.mohfw.gov.in/</a>
        
    <h3>Advisory & Strategy for Use of Rapid Antibody Based Blood Test:</h3>
    <a href="https://www.mohfw.gov.in/pdf/Advisory&StrategyforUseofRapidAntibodyBasedBloodTest.pdf">https://www.mohfw.gov.in/pdf/Advisory&StrategyforUseofRapidAntibodyBasedBloodTest.pdf</a>
        
    <h3>Myth buster:</h3>
    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/myth-busters</a>

    </div>
</body>
</html>